body{
    background-color: rgb(87, 76, 148);
}
.navbar{
    text-align: center;
}

ul li{
    background-color: crimson;
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    text-align: center;
    list-style-type:none;
    font-size: 150%;
    border: 5px solid;
    margin: 2px black;
    
}
ul li:hover{
    z-index: 2;
    list-style-type:none;
    font-size: 220%;
    color: chartreuse;

}

.form{
    z-index: 1;
    color: black;
    background-color: rgb(43, 226, 73);
    box-sizing: border-box;
    position: relative;
    top: 250px;
    width: 50%;
    text-align: center;

}
.formhead{
    background-color: brown;
    position: relative;
    text-align: center;
    z-index: 2;
    color: blue;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    top: -20px;
}
.form:hover{
    background-color: aqua;
}
